{{!-- <article class="post"> --}}
<article class="">
  <header class="card-header">
        <a href="/post/{{id}}" target="_blank">{{title}}</a>
        <p>Posted by {{user.username}} on {{format_date created_at}}</p>
  </header>
  <body class="card-body">
    <p class="m-3">{{post_content}}</p>
  </body>
</article>